<div class="block w-full md:w-52 flex-none">
  <menu-active>
    <ul class="menu px-0">
      <li class="menu-title py-0 !bg-transparent mb-3 -mt-5"><a href="<%= '/' %>" class="!bg-transparent !text-neutral font-medium">&larr; Back</a></li>
      <li class="menu-title py-0 !bg-transparent"><span class="!bg-transparent">Settings</span></li>
      <li></li>
      <li>
        <%= link_to 'Profile', settings_profile_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
       <%if can?(:manage, Account )%>
      <li>
        <%= link_to 'Account', settings_account_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <%end%>
      <% if can?(:manage, EncryptedConfig.new(key: EncryptedConfig::FILES_STORAGE_KEY, account: current_account)) && true_user == current_user %>
        <li>
          <%= link_to 'Storage', settings_storage_index_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:manage, EncryptedConfig.new(key: EncryptedConfig::ESIGN_CERTS_KEY, account: current_account)) %>
        <li>
          <%= link_to 'E-Signature', settings_esign_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:manage, AccountConfig) %>
        <li>
          <%= link_to 'Personalization', settings_personalization_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:manage, UserConfig) %>
        <li>
          <%= link_to 'Users', settings_users_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
        <% if can?(:manage, AccessToken) %>
          <li>
            <%= link_to 'API', settings_api_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>

    </ul>
  </menu-active>
  <% if cannot?(:manage, :tenants) %>
    <div class="mx-4 border-t border-base-300 hidden md:block">
      <div class="text-sm mt-3">
        Need help? Ask a question:
      </div>
      
      <a href="mailto:<%= Uvtsign::SUPPORT_EMAIL %>" target="_blank" class="w-full block mt-4 underline text-center">
        <%= Uvtsign::SUPPORT_EMAIL %>
      </a>
    </div>
  <% end %>
</div>
